#operators{

    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 5px;
    /*background-color: #b9def0;*/
}
#io-nodes{

    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 5px;
    /*background-color: #b9def0;*/

}

#canvas{
    margin-top: 10px;
    /*background-color: #dbdbdb;*/
}

nav{
    margin-right: 15px;
}